1. Create a function that takes a list and string. The function should remove the letters in the string from the list, and return the list.

Examples

remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string") ➞ ["w"]

remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon") ➞ ["b", "g", "w"]

remove_letters(["d", "b", "t", "e", "a", "i"], "edabit") ➞ []

In [1]:
def remove_letters(letters,word):
    word=list(word)
    for alphabet in word:
        if alphabet in letters:
            index=letters.index(alphabet)
            letters.remove(letters[index])
    print(letters)

In [2]:
remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string")

['w']

In [3]:
remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon")

['b', 'g', 'w']

In [4]:
remove_letters(["d", "b", "t", "e", "a", "i"], "edabit")

[]

2. A block sequence in three dimensions. We can write a formula for this one:
Create a function that takes a number (step) as an argument and returns the amount of blocks in that step.

Examples

blocks(1) ➞ 5

blocks(5) ➞ 39

blocks(2) ➞ 12

In [5]:
def helper(n):
    if(n==1):
        return 1
    return n + helper(n - 1)
def blocks(step):
    if(step==0):
        return 0 
    return helper(step) + step * 3 + step * 2 - 1

In [6]:
print(blocks(1))
print(blocks(2))
print(blocks(5))

5
12
39

3.  Create a function that subtracts one positive integer from another, without using any arithmetic operators such as -, %, /, +, etc.

Examples

my_sub(9,5) ➞ 4

my_sub(30,10) ➞ 20

my_sub(0, 0) ➞ 0

In [7]:
def my_sub(a,b):
    while(b!=0):
        borrow=(~a)&b
        a=a^b
        b=borrow<<1
    return a

In [8]:
my_sub(9,5)

4

In [9]:
my_sub(30,10)

20

In [10]:
my_sub(0,0)

0

4. Create a function that takes a string containing money in dollars and pounds sterling (seperated by comma) and returns the sum of dollar bills only, as an integer.

For the input string:

   - Each amount is prefixed by the currency symbol: $ for dollars and £ for pounds.
   - Thousands are represented by the suffix k.

i.e. $4k = $4,000 and £40k = £40,000

Examples

add_bill("d20,p40,p60,d50") ➞ 20 + 50 = 70

add_bill("p30,d20,p60,d150,p360") ➞ 20  + 150 = 170

add_bill("p30,d2k,p60,d200,p360") ➞ 2 * 1000 + 200 = 2200

In [11]:
def add_bill(values):
    values=values.split(",")
    dollars=[]
    x=[]
    for val in values:
        if 'd' in val:
            dollars.append(val)
    for i in range(len(dollars)):
        if 'k' in dollars[i]:
            z=dollars[i].split('k')[0]
            thousands=int(z[1:])*1000
            dollar='d'+str(thousands)
            dollars=list(map(lambda st: str.replace(st, dollars[i],dollar),dollars))
    for val in dollars:
        x.append(val[1:])
    total=0
    for val in x:
        total=total+int(val)
    return total

In [12]:
add_bill("d20,p40,p60,d50")

70

In [13]:
add_bill("p30,d20,p60,d150,p360")

170

In [14]:
add_bill("p30,d2k,p60,d200,p360")

2200

5.  Create a function that flips a horizontal list into a vertical list, and a vertical list into a horizontal list.

In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list (n rows and 1 column), and vice versa.

Examples

flip_list([1, 2, 3, 4]) ➞ [[1], [2], [3], [4]]
# Take a horizontal list and flip it vertical.

flip_list([[5], [6], [9]]) ➞ [5, 6, 9]
# Take a vertical list and flip it horizontal.

flip_list([]) ➞ []

In [15]:
def flip_list(lst):
    if not lst:
        return lst
    is_vertical = isinstance(lst[0], list)
    if is_vertical:
        return [ele[0] for ele in lst]
    return [[ele] for ele in lst]

In [16]:
flip_list([1, 2, 3, 4])

[[1], [2], [3], [4]]

In [17]:
flip_list([[5], [6], [9]])

[5, 6, 9]

In [18]:
flip_list([])

[]